.customers {
  margin-top: 5rem;

  & span {
    display: block;
  }

  &-list {
    display: flex;
    gap: 5rem;
  }

  &-item {
    border: 2px solid $gray-blur;
    padding: 3rem;
    width: 33.33%;
    border-radius: 1rem;

    transition: 0.2s ease-in-out;
    background-color: $white-color;

    &:hover {
      border: 2px solid $main-color;
      box-shadow: $box-shadow-gray;
    }
  }

  &-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-desc {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &-name {
    margin-left: 2rem;

    h3 {
      font-size: 1.8rem;
      color: $gray-color;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
    p {
      font-size: 1.4rem;
    }
  }

  &-star {
    margin-left: auto;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    & ion-icon {
      color: #fea250;
    }
  }

  &-content {
    font-size: 1.6rem;
    line-height: 1.9;
    color: $gray-color;
  }
}
