.header {
  padding-top: 5rem;
  transition: 0.5s ease-in-out;

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-logo {
    color: $gray-color;
    font-size: 2rem;
    margin-right: 16rem;
    font-weight: 500;

    & span {
      font-weight: 600;
    }
  }

  &-menu {
    display: flex;
    gap: 4rem;
    font-size: 1.6rem;
  }

  &-menu-link {
    color: $text-color;
    position: relative;
    transition: all 0.2s linear;

    &:after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: auto;
      right: 0;
      width: 0;
      height: 2px;
      background-color: $main-color;
      transition: all 0.3s linear;
      transition: all 0.3s linear;
    }
    &:hover {
      color: $main-color;
      &:after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }
  }

  &-link {
    margin-left: auto;
  }
  @media screen and (min-width: 1024px) {
    .menu-toggle {
      display: none;
    }
  }

  @include maxWith(1279.98px) {
    padding-top: 3rem;

    &-logo {
      margin-right: 0;
    }

    &-menu {
      margin: 0 auto;
    }

    &-link {
      margin-left: 0;
    }
  }

  @include maxWith(1023.98px) {
    &-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 70%;
      max-width: 300px;
      background-color: white;
      z-index: 99999;
      display: block;
      bottom: 0;
      border-left: 1px solid #eee;
      padding: 3rem 2rem;
      transition: transform 0.5s linear;
      transform: translateX(100%);
    }

    & .is-active {
      transform: translateX(0);
    }

    &-menu-link {
      display: block;
      border-radius: 5rem;
      padding: 20px;

      &:after {
        content: none;
      }

      &:hover {
        color: $white-color !important;
        background-color: $main-color;
      }
    }

    &-link {
      margin-left: auto;
    }

    & a {
      padding: 1.2rem 4rem;
    }
  }

  @include maxWith(767.98px) {
    &-logo {
      font-size: 1.8rem;
    }

    & a {
      padding: 1rem 2rem;
    }

    .menu-toggle {
      font-size: 2.4rem;
    }
  }
}

.sticky {
  transition: 0.5s ease-in-out;

  position: fixed;
  background-color: $white-color;
  width: 100%;
  z-index: 100;
  padding: 2rem 0;
}

.menu-toggle {
  font-size: 3rem;
  margin-left: 2rem;
  color: $gray-color;
  cursor: pointer;
}
