.plan {
  margin-top: 8rem;
  text-align: center;

  padding: 8rem 0;

  &-block {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
  }

  &-item {
    background-color: $white-color;
    border-radius: 1rem;
    padding: 8rem 7rem;
    border: 2px solid $gray-blur;

    display: flex;
    flex-direction: column;
    transition: 0.2s ease-in-out;

    &:hover {
      border: 2px solid $main-color;
      box-shadow: $box-shadow-gray;
    }
  }
  &-item:last-child {
    border: 2px solid $main-color;
  }

  &-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-title {
    font-size: 1.8rem;
    color: $gray-color;

    margin: 3rem 0;
  }

  &-list {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    &-item:last-of-type {
      margin-bottom: 5rem;
    }

    &-item {
      margin-bottom: 1.5rem;
      font-size: 1.4rem;

      display: flex;
      align-items: center;
      gap: 2rem;

      & ion-icon {
        width: 2.4rem;
        height: 2.4rem;
        color: #2fab73;
      }
    }
  }

  &-link {
    margin-top: auto;

    &__title {
      font-size: 2.5rem;
      color: $gray-color;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    &__title span {
      font-weight: 400;
      color: $text-color;
    }
  }
}
