$gray-color: #0b132a;
$gray-blur: #eeeff2;
$main-color: #f53838;
$secondary-color: #ffecec;
$text-color: #4f5665;
$white-color: #fff;
$box-shadow: 0 2rem 4rem rgba(245, 56, 56, 0.2);

$box-shadow-gray: 0 2rem 4rem rgba(11, 19, 42, 0.2);
